<div class="form-popup">
    <div class="container form-wrapper">
        <button class="btn close-form">close</button>
        <form id="my-form" novalidate="novalidate">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="form-title">Pop-up form</h1>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="name" required="">
                </div>
                <div class="form-group col-md-6">
                    <label for="email">E-mail</label>
                    <input type="text" class="form-control" id="email" name="email" required="">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    <label for="something">Something</label>
                    <textarea name="something" class="form-control" id=""></textarea>
                </div>
            </div>
            <button type="submit" class="btn send-form">Send</button>
        </form>
    </div>
</div>
