<div class="form-popup">
    <div class="container form-wrapper">
        <button class="btn close-form">close</button>
        <form id="my-form" novalidate="novalidate">
            <div class="full-width">
                <h1 class="form-title">Create new event</h1>
            </div>
            <div class="half-width">
                <label for="title">Event Title</label>
                <input type="text" class="form-control" id="title" name="title" required="">
            </div>
            <div class="half-width">
                <label for="participants">Participants</label>
                <input type="text" id="participants" name="participants" required="">
            </div>
            <div class="full-width">
                <label for="details">Details</label>
                <textarea name="details" id="details"></textarea>
            </div>
            <button class="btn send-form">Save</button>
        </form>
    </div>
</div>
